body {
    margin: 0;
    background-color: #0a2e06;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d3d08;
    padding: 1rem 2rem;
}

.nav-links a, .login a {
    color: white;
    margin: 0 0.75rem;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover, .login a:hover {
    color: #a479ff;
}

.logo {
    font-weight: 800;
    font-size: 1.4rem;
    color: #93e38a;
}

main {
    margin-top: 10vh;
}

.title {
    font-size: 4rem;
    font-weight: 800;
    background: linear-gradient(90deg, #22d911, #25991a, #18750f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 3px 0px rgba(0,0,0,0.4);
}

.subtitle {
    margin-top: 1rem;
    color: #ccc;
}

.buttons {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.button {
    background-color: #1f9114;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 4px 0 #186b10;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.button:hover {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #6e49b8;
}
