<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aspect Bots</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/favicon.png') }}">
</head>
<footer class="site-footer">
  <div class="footer-left">
    <a href="https://store.legitimoose.com" target="_blank" rel="noopener noreferrer">
        <img src="{{ url_for('static', filename='icons/cart.svg') }}" alt="Store" width="64" height="64">
    </a>
  </div>

  <div class="footer-center">
    <p>
      This is not an official Moose project and is made by the community.<br>
      We have no affiliation with any real-world brands.<br>
      Not affiliated with Mojang AB or Partners.
    </p>
  </div>

  <div class="footer-right">
    <a href="https://www.youtube.com/@Legitimoose" target="_blank" rel="noopener noreferrer">
        <img src="{{ url_for('static', filename='icons/youtube.svg') }}" alt="YouTube" width="64" height="64">
    </a>
  </div>
</footer>

<body>
    <nav class="navbar">
        <div class="logo">
            <a href="https://aspectofthe.site/" class="logo">
                <img src="static/icons/favicon.png" alt="Logo" class="logo-img">
            </a>
            Aspect Bots
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/status">Bot status</a>
            <a href="#">Deploy bot</a>
        </div>
        <div class="login">
            <a href="/login">Log in</a>
        </div>
    </nav>
    
<head>
    <meta charset="UTF-8">
    <title>Bot list</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="dashboard">
    {% for bot_name, bot in bots.items() %}
    <div class="bot-card">
        <div class="bot-image">
            <a href="https://aspectofthe.site/status/{{ bot_name }}">
                <img src="https://crafatar.com/avatars/{{ bot.uuid }}?size=128&overlay" alt="?">
            </a>
            <h2 class="bot-name">{{ bot_name }}</h2>
        </div>
        
        <div class="world-info">
            {% if bot.status %}
            {% if bot.world.name == "Lobby" %}
            <h3 class="world-name">{{ bot.world.name }}</h3>
            {% else %}
            <h3 class="world-name">
                <a href="https://legiti.dev/browse/{{ bot.world.uuid }}">{{ bot.world.name | safe }}</a>
            </h3>
            <p class="owner">
                <img class="owner-head" src="https://crafatar.com/avatars/{{ bot.world.owner.uuid }}?size=128&overlay" alt="?">
                <a href="https://legiti.dev/profile/{{ bot.world.owner.uuid }}">{{ bot.world.owner.name }}</a>
            </p>
            {% endif %}
            {% endif %}

            <p class="status {% if bot.status %}online{% else %}offline{% endif %}">
                {% if bot.status %}Online{% else %}Offline{% endif %}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>
